<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aft.l010uicontrols"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aft.l010uicontrols.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingRadioGroup" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingCheckBox" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingDatePicker" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingTimePicker" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingSpinner" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingProgressBar" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingSeekBar" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingAutoCompleteTextView" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingGridView" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingProgressDialog" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingNotification" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingScrollView" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingRatingBar" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingImageSwitcher" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingGallery" >
        </activity>
        <activity android:name="com.aft.l010uicontrols.AtyUsingEditText" >
        </activity>
    </application>

</manifest>